.w-400{
    width: 400px;
}
.fs-xs {
    font-size: 1rem;
}
.w-10{
    width: 10%;
}
a{
    text-decoration: none;
}
.fs-big{
    font-size: 5rem !important;
}
.online{
    width: 10px;
    height: 10px;
    background: green;
    border-radius: 50%;
}
.w-15{
    width: 15%;
}
small{
    color: #bbb;
    font-size: 0.7rem;
    text-align: right;
}
